{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
     color: white;
     font-family: ariel;
     font-size: 24px;
     margin-right: 20px;
     text-decoration: no;
     background-image:url("images/moroccan-flower (2).png");
}
    
main, nav {
    background-color: #224
    width: 60%;
    padding: 20px;  
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

header, footer (
    background-color: navy;
    padding: 24px 0;
}

nav {
    display: flex;
}

.logo, .link {
    color: white;
}

.logo {
    margin-right: auto;
}

.link {
    margin: 0 4px;
}

footer {
    color: white;
    text-allign: center;
    margin-top: auto;
}

header {
    background: #128;
    padding: 50px 0;
    border-bottom: 4px solid yellow;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    float: left;
    color: white;
}


p{
    margin: 15px 0;
    line height: 145%
}

nav{
    float: right;
}



aside {
   background color: white;
   float: right;
   padding: 1rem;
   width: 15%;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    float: left; 
    margin-right: 20px;
}

footer {
    clear: both;
}

.main-content {
    margin: 40px auto;
}

.profile-image {
    float: left;
    margin: 0 20 px 10px 0;
    width: 180px;
    padding: 20px;
}

aside img {
    box-shadow: 3px 3px 6px black;
}

footer {
    position: fixed;
    bottom: 0;
    background: #128;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

footer p {
    color: white;
    font-size: 20px;
}

    
