{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Ariel, sans-serif;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
    background-image:url("images/moroccan-flower.png");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: navy;
    color: white;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px; 
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex:1; 
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.bio {
    text-align: justify;
    margin-bottom: 20px;
}

.bio h2 {
    margin-bottom: 10px;
}

.about-section::after {
    content"";
    display: block;
    clear: both;
}

aside {
    width: 250px;
    padding: 20px;
}

ul.contact li {
    list-style-type: none;
    margin-bottom: 10px;
}

ul.contact li img {
    width: 30px;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
    
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
}
aside {
    width: 100%;
    margin-top: 20px;
}

