{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
     color: white;
     font-family: ariel;
     font-size: 24px;
     margin-right: 20px;
     text-decoration: no;
     background-image:url("images/moroccan-flower (2).png");
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px; 
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main, nav {
    display: flex;
    justify-content: space-between;
    background-color: #224
    width: 60%;
    padding: 20px;  
}

.content-wrapper {
    flex:1;
    display: flex;
    flex-direction: column;
}

.about-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.bio {
    flex: 1;
}

.bio h2 {
    margin-bottom: 10px;
)

aside {
    width: 250px;
    padding: 20px;
}
    
.logo, .link {
    color: white;
}

.logo {
    margin-right: auto;
}

.link {
    margin: 0 4px;
}

footer {
    color: white;
    background-color: #333;
    text-allign: center;
    margin-top: auto;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        alighn items: center;
}
aside {
    width: 100%;
    margin-top: 20 px;
}

